/*Script.js for Jacob Cormier Portfolio website*/

/*===== SETUP =====*/
/* Universal Selector, defaults */
/* Box-sizing and the box model fix */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 px */
  
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  /* default text color is an off-white*/
  color: #F0F3FF;
  padding: 0;
  margin: 0;
  
  /* This fixes the window having a slight horizontal scroll bar*/
  max-width:100%;
}

body {
  font-size: 1.6rem; /* default font size to 16 px */
  background-color: #211951;
  text-align: center;
  font-family: "Lucida Sans", sans-serif;

  /* This gradient is used to make the background more interesting than a flat color */
  background-image: linear-gradient(to right, rgba(255,131,111,0.1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(111,255,131,0.1) );

  /* Small resolutions were causing the body element to become smaller than the screen width*/
  width: 100vw;
}

img {
  max-width: 50vw;
  max-height: 50vh;
  height: auto;
  margin: auto;
  border-radius: 20px;	
}

/* This is the base I use for each section to fit the screen properly */
.fullPageElement {
	width: 100vw;
	height: 100vh;
}

.bigTextWithTopPadding {
	font-size: 4.8rem;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.textBackdrop {
  /* unused so far*/
  background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF);
  padding: 10px;
  border-radius: 10px;
}


/*===== LANDING PAGE =====*/
	#introduction {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		justify-content: space-evenly;
		background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF);

		/* I want the intro page to stick as a header for the rest of the page*/
		position: sticky;
		
		/* Added a cool background blur to my header, so elements behind are still seen*/
		backdrop-filter: blur(8px);
		z-index: 1;
	}

	.introText {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: left;
	  text-align: left; /* Adjust text alignment as needed */
	  
	  font-size: 5vw;


	  margin-left: 2vw;
	  text-wrap: nowrap;
	  
	  z-index: 2;
	}

	#introTextImage {
		display: grid;
		place-content: center;
	}

	#titleName {
		position: sticky;
		top: 10px;

		/* top-most element */

	}

/*===== INTRO BLURB =====*/

	.spaceElementsVertical {
		margin-top: 20vw;
		margin-bottom: 20vw;
		
		/* Lots of flex code to align this, probably not permanent... */
		display: flex;
        justify-content: center; /* Horizontally center the child elements */
        align-items: center;
		flex-direction: column;
	}

	h2 {
	  /* First intro, short personal blurb */
	  font-size: 3.6vw;
	  
	  border: solid #F0F3FF; /* temp color */
	  padding: 50px;
	  border-radius: 50px;
	  max-width: 900px;
	  width: 100%;

	  background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF);

	}
	
	.asADeveloper {
		margin: 50px;
		
		font-size: 1.5vw;
		width: 60vw;
		min-width: 90vw;

	}
	
	.skillGrid {
		display: grid; 
		grid-template-columns: auto auto auto;
		column-gap: 1vw;
		list-style-type: none; 
	}
	
	.skillGrid li{
		margin: 20px;
		
		background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF);
		padding: 10px;
		border-radius: 10px;
	}
	
	.skillsLogoImage {
		/* used for the images not created with fontawesome */
		
		  /* Undoing the changes from img element*/
		  max-width: none;
		  max-height: none;
		  height: auto;
		  margin: auto;
		  border-radius: 0px;	
		
		height: 4em;
		max-width: 4em;
	}
	
	
	/* Tooltip container */
	.tooltip {
	  position: relative;
	  display: inline-block;
	}

	/* Tooltip text */
	.tooltip .tooltiptext {
	  visibility: hidden;
	  background-color: #836FFF;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  
	    width: 120px;
	    top: 100%;
	    left: 50%;
	    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
		max-width: none;
	 
	  /* Position the tooltip text - see examples below! */
	  position: absolute;
	  z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
	  visibility: visible;
	}



/*===== MY PROJECTS =====*/
	#my-projects {
		/* This and other-projects will need to be changed to grids*/
		display: flex;
		flex-direction: column;
		padding: 0px 20vw;
	}
	
	#other-projects {
		/* This and other-projects will need to be changed to grids*/
		display: flex;
		flex-direction: column;
		padding: 0px 20vw;
	}
	
	.projects img{
		/* This one doesn't apply to the image like I want */
		max-width: 400px;
		border-radius: 20px;	
	}

	.projects {
		/* This is meant to be the formatting for the images of projects I've worked on */
		border-radius: 25px;
		background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF );
		width: 30vw;
		height: auto;
		padding: 15px;
		border: 10px solid #F0F3FF; /* temp color */
	  
		margin: auto;
		
		display: inline-block;
		
		overflow: hidden;

	}

	.projects:hover {
		opacity: 0.5;
		border: 20px solid #15F5BA;
		padding: 5px;
	}
	
	.projectItem {
		display: flex;
		flex-direction: row;
		
		justify-content: center;
		align-items: center;
		
		/*Temporary gap for Project Image & Text*/
		gap: 30px;
		
		border-radius: 25px;
		
		background-image: linear-gradient(to    right, rgba(0,0,0,0) , #836FFF );
		margin-top: 50px;
	}
	
	/* Project items will be in a column if screen is too small */
	@media only screen and (max-width: 900px) {
	.projectItem{
		flex-direction: column;
		gap: 0px;
	}
	
}

/*===== OTHER PROJECTS =====*/

	#other-projects{
		display: flex;
		flex-direction: column;
	}


/*===== ABOUT ME =====*/
	#about-me-paragraph{
		margin: auto;
		text-align: left;
		max-width: 40%;
	}


.debug {
	background-color: #15F5BA;
}

